body {
    background-color: #f1f1f1;
}
.header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0%;
    bottom: 88.28%;
    background: #1F2D76;
}
.spanish {
    position: absolute;
    left: 3.02%;
    right: 87.32%;
    top: 25.66%;
    bottom: 25.19%;
    background: #7DEAF1;
    border-radius: 50px;
    width: 60px;
    height: 40px;
}
.english {
    position: absolute;
    left: 3.02%;
    right: 87.32%;
    top: 25.66%;
    bottom: 25.19%;
    background: #E8EAEA;
    box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 60px;
    height: 40px;
}
.text {
    position: absolute;
    left: 6.28%;
    right: 90.5%;
    top: 11.55%;
    bottom: 11.46%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.title {
    position: absolute;
    left: 33.63%;
    right: 33.66%;
    top: 26.3%;
    bottom: 26.2%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.image {
    position: absolute;
    width: 198.06px;
    height: 200px;
    right: 36.94px;
    top: 34px;
    border: 8px solid #1F2D76;
    border-radius: 177px;
}