body {
    background-color: #f1f1f1;
    width: 100%;
}
img {
    border-radius: 50%;
    width:15%;
    border: 3px solid #2b3748;
    float: right;
}
.head {
    background-color: #2b3748;
    color: white;
    height: max-content;
    padding: 20px;
    font-size: 10px;
    margin: -30px;
}
#leftButton {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 1px solid white;
    background-color: #2b3748;
    color: white;
    padding: 10px 0;
    margin: 10px;
    margin-right: 0px;
    margin-left: 25px;
    width:40px;
    margin-top:25px;
}
#rightButton {
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border: 1px solid white;
    background-color: #2b3748;
    color: white;
    padding: 10px 0;
    margin: 10px;
    margin-left: 0px;
    width:40px;
    margin-top:25px;
}